.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.success_info {
  background-color: $green3;
  border: 1px solid $green8;
  border-radius: 10px;
}

.title {
  font-weight: 700;
  font-size: 50px;
}

.sub_title {
  font-weight: 700;
  font-size: $f16;
}
