//  ---------colors
// steelBlue
$steelBlue1: #f5f6fa;
$steelBlue2: #f2f3f8;
$steelBlue3: #e8eaf2;
$steelBlue4: #cad0e2;
$steelBlue5: #b7c0d7;
$steelBlue6: #8494b8;
$steelBlue7: #7587ae;
$steelBlue8: #596f97;

// Gray
$gray1: #f7f7f7;
$gray2: #f2f2f2;
$gray3: #e8e8e8;
$gray4: #d1d1d1;
$gray5: #bfbfbf;
$gray6: #949494;
$gray7: #858585;
$gray8: #6e6e6e;

// Blue
$blue1: #f6f8fe;
$blue2: #ecf1fe;
$blue3: #e3eafc;
$blue4: #c3d3f8;
$blue5: #a9c1f4;
$blue6: #6694ea;
$blue7: #4c85e6;
$blue8: #2a69df;

// Orange
$orange1: #fff7eb;
$orange2: #fff1db;
$orange3: #ffe5c2;
$orange4: #ffc88a;
$orange5: #ffb061;
$orange6: #f06c00;
$orange7: #e05e00;
$orange8: #bd4b00;

// Green
$green1: #e8fce9;
$green2: #e0fae3;
$green3: #c8f4cc;
$green4: #8ee69a;
$green5: #59d96a;
$green6: #27aa38;
$green7: #239a33;
$green8: #1c7d29;

// Yellow
$yellow1: #fef9d7;
$yellow2: #fef4c3;
$yellow3: #fdeaa5;
$yellow4: #fbcc4b;
$yellow5: #fab319;
$yellow6: #d87f03;
$yellow7: #c57102;
$yellow8: #a25f01;

// Red
$red1: #fff3f0;
$red2: #ffeeeb;
$red3: #ffe1db;
$red4: #ffc1b8;
$red5: #ffa99e;
$red6: #ff5b4d;
$red7: #ff3729;
$red8: #db1600;
